 <configuration>
   <appSettings>
     <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
     <add key="PYTHONPATH" value="C:\inetpub\wwwroot\allwsmonitor" />
     <add key="DJANGO_SETTINGS_MODULE" value="allwsmonitor.settings" />
   </appSettings>
   <system.webServer>
     <handlers>
         <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python37\python.exe|C:\Program Files\Python37\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
     </handlers>
   </system.webServer>
 </configuration>